* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #ecf0f3;
}
body {
  min-height: 100vh;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ecf0f3;
  /* background-color: #1a1a1a; */
}

/* .title {
  color: #ecf0f3;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(10px);
} */

.calculator {
  /* backdrop-filter: blur(10px); */
  width: 300px;
  height: 500px;
  border-radius: 28px;
  /* padding: 16px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: 6px 6px 12px #fff, 6px 6px 10px rgba(0, 0, 0, 0.16); */
  box-shadow: 6px 11px 22px #eee, 6px 11px 18px rgb(0 0 0 / 50%);
  overflow: hidden;
}

form {
  background-color: #ecf0f3;
}
form input {
  width: 100%;
  height: 90px;
  border: none;
  pointer-events: none;
  text-align: right;
  border-radius: 42px;
  padding: 2rem;
  background-color: #ecf0f3;
  color: rgba(26, 25, 25);
  font-size: 2.5em;
  box-shadow: inset -6px -6px 12px #fff, inset 6px 6px 10px rgba(0, 0, 0, 0.16);
  margin: 13px 10px 10px 10px;
}

.buttons {
  /* background-color: #1a1a1a; */
  background-color: #ecf0f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}

button {
  flex: 0 0 22%;
  margin: 8px 0;
  width: 60px;
  height: 52px;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 50%;
  box-shadow: inset;
  cursor: pointer;
  box-shadow: inset 6px 6px 12px #fff, 6px 6px 10px rgba(0, 0, 0, 0.16);
  background-color: #ecf0f3;
  border: none;
  border-radius: 42px;
}

/* .btn-green {
  color: #fff;
  background-color: #1aff1a;
}

.btn-clear,
.btn-erase {
  background-color: #b30000;
  color: #fff;
} */
/* 
#equal {
  width: 120px;
  background-color: #ecf0f3;
  border-radius: 42px;
  box-shadow: inset 6px 6px 12px #fff, 6px 6px 10px rgba(0, 0, 0, 0.16);
} */
